@font-face {

    font-family: 'Soehne mono';
    
    src: url(https://assets.website-files.com/5d7fff8297d2f2362bc02ca9/5e2d028f60dc1a9df8eca10d_soehne-mono-web-buch.woff2);
    
    }
* {
  box-sizing: border-box;
  font-family: 'Soehne mono';
  margin: 0;
  padding: 0;
}

.headers {
  background: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100vw;
}

.noticias {
  align-items: flex-end;
  background: #41ead3;
  display: flex;
  height: 30px;
  justify-content: center;
  margin-bottom: 1px;
  position: relative;
}

.noticias__h6 {
  font-size: 1rem;
  font-weight: 800;
  padding-right: 7px;
}

.noticias__text {
  font-size: 0.9rem;
}

.noticias__link {
  color: black;
}

.nav__container {
  align-items: center;
  border-bottom: 1.1px solid #80808059;
  display: flex;
  height: 72px;
  justify-content: space-between;
  padding: 0 15px;
}

.nav__menu {
  align-items: center;
  display: flex;
  height: 50%;
  justify-content: space-between;
  margin-left: 1rem;
}

.nav__log {
  align-items: center;
  background: black;
  display: flex;
  height: 30px;
  justify-content: space-around;
  width: 50px;
}

.nav__links {
    margin-left: 1em;
    display: flex;
    font-size: 1rem;
    height: 100%;
    width: auto;
    align-items: center;
}
.nav__links a{
    padding: 20px;
    color: #222;
    font-weight: 400;
    line-height: 160%;}

.nav__link {
  align-items: center;
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  text-decoration-line: none;
}

.nav__buttons {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 20%;
}

.nav__link-btn {
  color: black;
  font-weight: 500;
  text-decoration-line: none;
}

.nav__button {
  background: white;
  border: 2px solid #5840e0;
  color: #5840e0;
  font-size: 16px;
  font-weight: 600;
  padding: 0.5rem;
  transition: 1s;
  cursor: pointer;
}

.nav__button:hover {
  background: #5840e0;
  color: white;
}

.main {
    display: flex;
    /* height: 125vh; */
    width: 100%;
    justify-content: center;
}

.main__texts {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  width: 50%;
}
.main_central {
    display: flex;
    width: 80%;
    justify-content: center;
}
.main__titulo {
  color: #001323;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: -4px;
  line-height: 83.5%;
  margin: 10px 0;
}

.main__text {
    border-bottom: 1px #000;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 30px;
    /* margin-top: 6rem; */
    -webkit-text-size-adjust: 100%;
}

.nav__button {
  width: 50%;
}

.main__img {
    display: flex;
    margin-top: 150px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.main__imagen {
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 80%;
}
